doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angscript.js')
    script(src='/javascripts/angular.min.js.map')
    script(src='/javascripts/script.js')
    script(src='/javascripts/login.js')
  body
    block content
