doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular.min.js.map')
    script(src='/javascripts/angular-cookies.js')
    script(src='/javascripts/angular-cookies.min.js')
    script(src='/javascripts/script.js')
  body(ng-app='myApp')
    block content
